<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070777426564-o5io50suq8jknjrmc08ot1terv85kuh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070777426564-o5io50suq8jknjrmc08ot1terv85kuh3</string>
	<key>API_KEY</key>
	<string>AIzaSyCe__YAUeG02wwy55W4-Kx0BX_1_Lfanfg</string>
	<key>GCM_SENDER_ID</key>
	<string>1070777426564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orcavision.darAlteb</string>
	<key>PROJECT_ID</key>
	<string>dar-elteb-6ff8b</string>
	<key>STORAGE_BUCKET</key>
	<string>dar-elteb-6ff8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070777426564:ios:2e1191af615800de2958d1</string>
</dict>
</plist>